Node-RED/RFCT Project Flow.json
[{"id":"6c1c0285.550b5c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d421a01b.213","type":"ttn uplink","z":"6c1c0285.550b5c","name":"RFCT Trial","app":"6bc135db.fcae5c","dev_id":"","field":"","x":180,"y":1000,"wires":[["6ab340ed.88e8e","56678c9d.9b8fc4","9e3b0368.f6bf9","48df81f.857b28","3660f7d7.891308"]]},{"id":"6ab340ed.88e8e","type":"function","z":"6c1c0285.550b5c","name":"Prepare Gateway Data","func":"var numGateways = msg.metadata.gateways.length;\nvar index1 = 0;\nvar index2 = 0;\nvar index3 = 0;\n\nif (numGateways != 3)\n{\n    newMsg = { Error: 1};\n    return newMsg;\n}\nelse\n{\n    for (i = 0; i < numGateways; i++)\n    {\n        // Gateway 1\n        if (msg.metadata.gateways[i].gtw_id == \"eui-240ac4fffec756a8\")\n        {\n            index1 = i;\n        }\n        else if (msg.metadata.gateways[i].gtw_id == \"eui-240ac4fffec72eb8\")\n        {\n            index2 = i;\n        }\n        else if (msg.metadata.gateways[i].gtw_id == \"eui-240ac4fffec756b8\")\n        {\n            index3 = i;\n        }\n    }\n    \n    var id = { ID1: msg.metadata.gateways[index1].gtw_id, ID2: msg.metadata.gateways[index2].gtw_id, ID3: msg.metadata.gateways[index3].gtw_id };\n    var Timestamps = { TS1: msg.metadata.gateways[index1].time, TS2: msg.metadata.gateways[index2].time, TS3: msg.metadata.gateways[index3].time};\n    var Rssi = { RS1: msg.metadata.gateways[index1].rssi, RS2: msg.metadata.gateways[index2].rssi, RS3: msg.metadata.gateways[index3].rssi };\n    \n    newMsg = { Error: 0, ID: id, GX_TS: Timestamps, GX_RSSI: Rssi };\n    \n    return newMsg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1220,"wires":[["fd85caf7.eae938","396ca811.fdf648","8569c69a.2477b8"]]},{"id":"7d504418.6de9ec","type":"ui_gauge","z":"6c1c0285.550b5c","name":"Temperature","group":"27636ce3.3d3f64","order":0,"width":0,"height":0,"gtype":"gage","title":"Last Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":680,"wires":[]},{"id":"3ee83acd.91eef6","type":"ui_gauge","z":"6c1c0285.550b5c","name":"Humidity","group":"8b047bfc.981718","order":2,"width":0,"height":0,"gtype":"gage","title":"Last Humidity","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":560,"wires":[]},{"id":"56678c9d.9b8fc4","type":"Input Split","z":"6c1c0285.550b5c","name":"SPLIT PARAMS","inputProps":["payload.humidity","payload.temperature"],"outputs":2,"x":420,"y":640,"wires":[["3ee83acd.91eef6","20ab08a.a96e4f8"],["7d504418.6de9ec","260aa5b0.deb3aa"]]},{"id":"260aa5b0.deb3aa","type":"ui_chart","z":"6c1c0285.550b5c","name":"","group":"27636ce3.3d3f64","order":1,"width":0,"height":0,"label":"Tracked Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":740,"wires":[[]]},{"id":"20ab08a.a96e4f8","type":"ui_chart","z":"6c1c0285.550b5c","name":"","group":"8b047bfc.981718","order":1,"width":0,"height":0,"label":"Tracked Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":620,"wires":[[]]},{"id":"fd85caf7.eae938","type":"ui_gauge","z":"6c1c0285.550b5c","name":"","group":"78ec289c.b2d2f8","order":0,"width":0,"height":0,"gtype":"wave","title":"Gateway ID Error","label":"","format":"{{Error}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":1120,"wires":[]},{"id":"9e3b0368.f6bf9","type":"debug","z":"6c1c0285.550b5c","name":"RAW DATA","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"metadata","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":1040,"wires":[]},{"id":"f0e7800c.7ce3b","type":"function","z":"6c1c0285.550b5c","name":"Process Gateway Data","func":"var msg1 = msg.GX_TS.TS1.slice(11,26);\nvar msg2 = msg.GX_TS.TS2.slice(11,26);\nvar msg3 = msg.GX_TS.TS3.slice(11,26);\n    \n//var ts1 = msg1.slice(11,26);\n//var ts2 = msg2.slice(11,26);\n//var ts3 = msg3.slice(11,26);\n\nm1 = {Hours: parseFloat(msg1.slice(0,2)), Minutes: parseFloat(msg1.slice(3,5)), Seconds: parseFloat(msg1.slice(6,15))};\nm2 = {Hours: parseFloat(msg2.slice(0,2)), Minutes: parseFloat(msg2.slice(3,5)), Seconds: parseFloat(msg2.slice(6,15))};\nm3 = {Hours: parseFloat(msg3.slice(0,2)), Minutes: parseFloat(msg3.slice(3,5)), Seconds: parseFloat(msg3.slice(6,15))};\n\ntimestamps = { TS1: m1, TS2: m2, TS3: m3 };\n    \nnewMsg = { GX_TS: timestamps, GX_RSSI: msg.GX_RSSI };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1360,"wires":[["868ca7c5.0056e8","8c4f52a6.f8a2f","30dd6f0e.a7697","bbecce0c.6c1a9"]]},{"id":"868ca7c5.0056e8","type":"debug","z":"6c1c0285.550b5c","name":"FINAL DATA","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":1320,"wires":[]},{"id":"8c4f52a6.f8a2f","type":"ui_gauge","z":"6c1c0285.550b5c","name":"","group":"78ec289c.b2d2f8","order":0,"width":0,"height":0,"gtype":"wave","title":"Parse to Int Error","label":"","format":"{{Error}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1390,"y":1260,"wires":[]},{"id":"30dd6f0e.a7697","type":"function","z":"6c1c0285.550b5c","name":"Seconds Return","func":"var G1_Seconds = msg.GX_TS.TS1.Seconds;\nG1_Seconds += (msg.GX_TS.TS1.Minutes * 60);\nG1_Seconds += (msg.GX_TS.TS1.Hours * 60 * 60);\n\nvar G2_Seconds = msg.GX_TS.TS2.Seconds;\nG2_Seconds += (msg.GX_TS.TS2.Minutes * 60);\nG2_Seconds += (msg.GX_TS.TS2.Hours * 60 * 60);\n\nvar G3_Seconds = msg.GX_TS.TS3.Seconds;\nG3_Seconds += (msg.GX_TS.TS3.Minutes * 60);\nG3_Seconds += (msg.GX_TS.TS3.Hours * 60 * 60);\n\nnewMsg = {G1_G2: (G2_Seconds - G1_Seconds), G2_G3: (G2_Seconds - G3_Seconds), G3_G1: (G3_Seconds - G1_Seconds)};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":1400,"wires":[["1625b759.6d5b39","cf9e9504.326958","9051bac5.9dc9c8"]]},{"id":"1625b759.6d5b39","type":"ui_gauge","z":"6c1c0285.550b5c","name":"","group":"7d0dba44.89b3c4","order":0,"width":0,"height":0,"gtype":"gage","title":"Loc","label":"sec","format":"{{msg.G1_G2}}","min":"-0.01","max":"0.01","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":1460,"wires":[]},{"id":"bbecce0c.6c1a9","type":"debug","z":"6c1c0285.550b5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1240,"y":1480,"wires":[]},{"id":"cf9e9504.326958","type":"debug","z":"6c1c0285.550b5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1400,"wires":[]},{"id":"9051bac5.9dc9c8","type":"ui_chart","z":"6c1c0285.550b5c","name":"","group":"7d0dba44.89b3c4","order":1,"width":0,"height":0,"label":"G1_G2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-0.01","ymax":"0.01","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1520,"y":1540,"wires":[[]]},{"id":"48df81f.857b28","type":"function","z":"6c1c0285.550b5c","name":"","func":"//var MedStress = 79;\n//var SevStress = 89;\n//var ExtStress = 99;\n\nvar temp = parseFloat(msg.payload.temperature);\nvar hum = parseFloat(msg.payload.humidity)/100;\n\nvar indexScore = (0.8*temp) + (hum*(temp-14.4)) + 46.4;\n\nreturn { TEMP: temp, HUM: hum, INDEX: indexScore };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":800,"wires":[["4a67b562.62590c","59e6b62b.08d628"]]},{"id":"fe5dd124.79298","type":"ui_chart","z":"6c1c0285.550b5c","name":"","group":"dc6957f7.f274b8","order":0,"width":0,"height":0,"label":"T-H Rating","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":800,"wires":[[]]},{"id":"396ca811.fdf648","type":"debug","z":"6c1c0285.550b5c","name":"POST PROCESSING","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":1060,"wires":[]},{"id":"8569c69a.2477b8","type":"switch","z":"6c1c0285.550b5c","name":"ERROR CHECK","property":"Error","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":1220,"wires":[["b72ccdd7.d52f9"],["f0e7800c.7ce3b"]]},{"id":"b72ccdd7.d52f9","type":"debug","z":"6c1c0285.550b5c","name":"ERROR FLAG","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":1200,"wires":[]},{"id":"3660f7d7.891308","type":"debug","z":"6c1c0285.550b5c","name":"ENTIRE MSG","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":980,"wires":[]},{"id":"4a67b562.62590c","type":"Input Split","z":"6c1c0285.550b5c","name":"","inputProps":["INDEX"],"outputs":1,"x":580,"y":800,"wires":[["fe5dd124.79298"]]},{"id":"59e6b62b.08d628","type":"debug","z":"6c1c0285.550b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":860,"wires":[]},{"id":"6bc135db.fcae5c","type":"ttn app","appId":"rfct-trial1","accessKey":"ttn-account-v2.5CpuxLoF7zRWGdibWqV5lRyM3aY9CjTemwOuViNdUn0","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"27636ce3.3d3f64","type":"ui_group","name":"Temperature","tab":"73fa3964.9f7538","order":1,"disp":true,"width":"6","collapse":false},{"id":"8b047bfc.981718","type":"ui_group","name":"Humidity","tab":"73fa3964.9f7538","order":2,"disp":true,"width":"6","collapse":false},{"id":"78ec289c.b2d2f8","type":"ui_group","name":"Error Stack","tab":"73fa3964.9f7538","order":4,"disp":true,"width":"6","collapse":false},{"id":"7d0dba44.89b3c4","type":"ui_group","name":"Localisation","tab":"73fa3964.9f7538","order":5,"disp":true,"width":"6","collapse":false},{"id":"dc6957f7.f274b8","type":"ui_group","name":"Stress-State","tab":"73fa3964.9f7538","order":3,"disp":true,"width":"6","collapse":false},{"id":"73fa3964.9f7538","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]